
.box{
    position: relative;
    width: 320px;
    height: 270px;
   border-radius: 5px;
   border: 1px solid rgb(221, 214, 214);
   background-color: #f0eeee;
   
}
.photo{
    margin: -35px 230px 0px 30px;
    background-color: #f2eeee;
    border-radius: 30px;
    object-fit:cover;
    position: absolute;
    

}


.nam{
    color:black;
    margin-left:10px;
    font-size: 16px;
    
   
}
.he{
    margin: 5px;
    color:#918e8ee6 ;
    font-size: 12px;
}
.cont{
       border: none;
       background-color:#f0eeee ;
       font-size :10px; 
       margin-left: 55px;
       margin-top: 20px;
       
}
.cont:hover{
    color: #0A66C2;
    border-bottom:1px solid  #0A66C2;

}
.grape{
    color: #555252e6;
    font-size: 12px;
   margin-left: 10px;
}
.add{
    margin-left: 10px;
    color: #00000099;
    font-size: 12px;
    
}
.link{
    color: #0A66C2;
    font-size: 16px;
    
}
.link:hover{
    border-bottom:1px solid #0A66C2;
}
.conn{
    color:#00000099 ;
    margin-left: 10px;
    font-size: 14px;
}
.but{
    color: #ffffff;
    background-color: #0A66C2;
    margin: 0px 8px 0px 10px;
    padding: 4px 12px;
    font-size: 14px;
    border-radius: 45px;
    border: 0px;
}
.but:hover{
    background-color: #1d446b;
    
}
.con{
    color: #0A66C2;
    margin: 0px 8px 0px 0px;
    padding: 4px 12px;
    font-size: 14px;
    border-radius: 45px;
    border: 1px solid #0A66C2;
}
.con:hover{
    background-color: #d5dfe6;
    
    
}
.mor{
    color: #00000099;
    margin: 0px 8px 0px 0px;
    font-size: 12px;
    border-radius: 45px;
    border:1px solid rgb(49, 46, 46) ;

}
.mor:hover{
    background-color: rgb(220, 220, 220);
}
.box2{
    width: 320px;
     height: 250px;
    border: 1px solid rgb(221, 214, 214) ;
    margin: 10px 0px;
    border-radius: 5px;
    background-color: #f0eeee;
}
.abo{
    color: #000000E6;
   margin-left: 10px;
   
    font-size: 14px;


}
.par{
    color:  #968a8ae6;
    width: 300px;
    margin-left: 10px;
    font-size: 12px;
}


